{{> banner}}
<section class="content">
  <div class="columns is-multiline is-3">
    {{#each articles}}
    <div class="column is-one-third">
      <div class="card">
        <div class="card-content">
          <p class="title is-4">{{this.title}}</p>
          <p>{{this.byline}}</p>
          <p>{{this.synopsis}}</p>
        </div>
        <div class="card-footer">
          <a href="/article/{{this._id}}">Comments ({{this.comments.length}})</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>

</section>
{{#unless articles}}
{{> welcomeMessage}}
{{/unless}}