{{> banner}}
<section class="container">
  <div class="row"></div>
  {{#unless articles}}
  {{> welcomeMessage}}
  {{/unless}}
  {{#each articles}}
  <div class="col s12 m8 offset-m2">

    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title"><h4>{{this.title}}</h4></span>
        <p>{{this.byline}}:</p>
        <p>{{this.synopsis}}</p>
      </div>
      <div class="card-action">
        <a href="/article/{{this._id}}">Comments ({{this.comments.length}})</a>
      </div>
    </div>
  </div>
  </div>
  {{/each}}
</section>